/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/ExSuperCalculadora/nbproject/private/
/ExSuperCalculadora/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParImpar/nbproject/private/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/ProgramaPernar/nbproject/private/
/ProgramaPernar/build/
/ProjetosTriangulo/nbproject/private/
/ProjetosTriangulo/build/
/Contador01/nbproject/private/
/Contador01s/nbproject/private/
/Contador01s/build/
/Contador02/nbproject/private/
/Contador02/build/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/
/FixDataBase/nbproject/private/
/FixDataBase/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/RepeticaoFor/nbproject/private/
/RepeticaoFor/build/
/Exercicio13/nbproject/private/
/Exercicio13/build/
