/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/ExSuperCalculadora/nbproject/private/
/ExSuperCalculadora/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParImpar/nbproject/private/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
